.header {
  background-color: var(--bg-page);
  padding: 20px 0;
  margin: 0 auto;
  max-width: 375px;
  transition: background-color var(--transition);

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 32px 0;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 32px 0;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 100px;
    justify-content: space-between;
  }
}

.headerContainer.isGuest {
  justify-content: center;
}

.logoWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (min-width: 1440px) {
    flex: 1;
    justify-content: center;
  }
}

.controls {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1440px) {
    flex: 2;
    display: flex;
    justify-content: space-between;
  }
}

.navCenter {
  @media screen and (min-width: 1440px) {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.userActions {
  @media screen and (min-width: 1440px) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.desktopNav {
  display: none;

  @media only screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
  }
}

.mobileNav {
  display: flex;

  @media only screen and (min-width: 1440px) {
    display: none;
  }
}

.isGuest {
}
