.navigationList {
  display: flex;
  gap: 20px;
}

.signUpBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 40px;
  padding: 14px 44px;
  min-width: 146px;
  height: 47px;
  background: var(--color-contrast);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--bg-page);

  &:focus,
  &:hover {
    background: var(--color-contrast);
  }
}

.signInBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(250, 250, 250, 0.4);
  border-radius: 40px;
  padding: 14px 44px;
  min-width: 138px;
  height: 47px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--color-titles);

  &:focus,
  &:hover {
    border: 1px solid var(--color-contrast);
  }
}
