.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.modal {
  background: var(--bg-page);
  border: 1px solid var(--color-paragraph);
  border-radius: 30px;
  padding: 60px 40px;
  width: 335px;
  text-align: center;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-titles);
}

.title {
  color: var(--color-titles);
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 39px;
  font-weight: 400;
}

.btnWrapper {
  display: flex;
  gap: 8px;
}

.logoutBtn {
  flex: 1;
  background: var(--color-contrast);
  color: var(--bg-page);
  border: none;
  padding: 14px;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
}

.cancelBtn {
  flex: 1;
  background: var(--color-paragraph);
  color: var(--color-titles);
  border: none;
  padding: 14px;
  border-radius: 40px;
  cursor: pointer;
}
