/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
} */

/* .modal {
  background: var(--bg-page);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 30px;
  padding: 60px 40px;
  width: 335px;
  text-align: center;
  position: relative;
} */

.modalContent {
  width: 335px;
  background: var(--skeleton-bg);
  padding: 80px 20px 80px;
  border-radius: 30px;
  position: relative;

  @media only screen and (min-width:768px) {
    width: 500px;
    padding: 80px 105px 80px;
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-titles);

  @media only screen and (min-width:768px) {
    width: 24px;
    height: 24px;
  }
}

.title {
  color: var(--color-titles);
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 39px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  line-height: 21px;
}

.btnWrapper {
  display: flex;
  gap: 8px;
}

.logoutBtn {
  flex: 1;
  background: var(--color-contrast);
  color: var(--bg-page);
  border: none;
  padding: 14px;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.cancelBtn {
  flex: 1;
  /* background: var(--color-paragraph); */
  background-color: rgba(128, 128, 128, 0.1);
  color: var(--color-titles);
  border: none;
  padding: 14px;
  border-radius: 40px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}