/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    z-index: 2000;
}

.modal {
    background: var(--bg-page);
    color: var(--color-titles);
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 30px;
    width: 335px;
    padding: 40px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2001;
} */

.modalContent {
    background: var(--bg-component);
    border-radius: 30px;
    width: 335px;
    padding: 40px 20px 60px;

    position: relative;

    @media only screen and (min-width:768px) {
        width: 500px;
        padding: 40px 40px 60px;
    }
}

.closeBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    @media only screen and (min-width:768px) {
        width: 24px;
        height: 24px;
    }
}

.title {
    color: var(--color-titles);
    font-size: 24px;
    margin-bottom: 39px;
    letter-spacing: -0.02em;
    align-self: flex-start;

    line-height: 29px;

    @media only screen and (min-width:768px) {
        line-height: 34px
    }
}

.avatarSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 39px;
}

.avatarCircle {
    width: 80px;
    height: 80px;
    background: var(--bg-page);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;

    @media only screen and (min-width:768px) {
        height: 100px;
        width: 100;
    }
}

.avatarImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.userIcon {
    color: var(--color-contrast);
    fill: currentColor;
}

.avatarActions {
    display: flex;
    gap: 8px;
}

.uploadBtn,
.removeBtn {
    background: var(--skeleton-bg);
    border: none;
    border-radius: 40px;
    padding: 8px 16px;
    color: var(--color-titles);
    font-size: 12px;
    cursor: pointer;
    transition: color var(--transition), transform var(--transition);

    &:hover {
        opacity: 0.8;
    }

    background-color: rgba(128, 128, 128, 0.1);
}

.removeBtn:hover {
    background: rgba(244, 67, 54, 0.1);
    color: #f44336;
}

.userSetsForm {
    width: 100%;
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    overflow: visible;
    position: relative;

    @media only screen and (min-width:768px) {
        gap: 4px;
    }
}

.customSelectContainer {
    position: relative;
}

.selectTrigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border: 1px solid var(--color-paragraph);
    border-radius: 12px;
    padding: 12px 0 12px 14px;
    color: var(--color-paragraph);
    cursor: pointer;
    transition: border-color var(--transition), transform var(--transition);
    height: 42px;

    @media only screen and (min-width:768px) {
        height: 48px;
    }

    &:hover,
    &.active {
        border-color: var(--color-contrast);
    }
}


.selectOptionsList {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 98px;
    background: var(--bg-page);
    border: 1px solid var(--color-paragraph);
    border-radius: 15px;
    padding: 8px 0;
    list-style: none;
    z-index: 100;
    scrollbar-width: none;
    z-index: 9999;
}

.closeIcon {
    color: var(--color-titles)
}

.inputWrapper {
    flex: 1
}

.optionItem {
    padding: 8px 14px;
    color: var(--color-titles);
    font-size: 14px;
    cursor: pointer;

    &:hover {
        color: var(--color-contrast);
    }
}

.currencySymbol {
    margin-right: 8px;
    color: rgba(250, 250, 250, 0.5);
}

.inputField {
    width: 100%;
    background: transparent;
    border: 1px solid var(--color-paragraph);
    border-radius: 12px;
    padding: 12px 14px;
    color: var(--color-titles);
    outline: none;
    transition: border-color 0.3s;

    height: 42px;

    @media only screen and (min-width:768px) {
        height: 48px;
    }

    &:focus,
    &:hover {
        border-color: var(--color-contrast);
    }
}

.saveBtn {
    width: 100%;
    padding: 14px;
    background: var(--color-contrast);
    color: var(--bg-page);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    height: 45px;

    &:hover {
        opacity: 0.8;
    }
}

.chevron {
    transition: transform 0.3s;
    fill: none;
    stroke: currentColor;
    margin-right: 14px;
}

.rotate {
    transform: rotate(180deg);
}

.currentValue {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--color-titles);
    margin-right: 11px;
}

.currencySymbol {
    color: var(--color-paragraph);
}