@import "normalize.css";

:root {
  /* Fonts */
  --font-family: "Inter", sans-serif;

  --transition: 250ms ease-in-out;

  /* DARK THEME (Default) */
  --bg-page: #0c0d0d;
  --bg-component: #171719;
  --color-titles: #fafafa;
  --color-paragraph: rgba(250, 250, 250, 0.4);
  --color-contrast: #0ef387;

  --chart-color-1: #076d3a;
  --chart-color-2: #0ebb69;
  --chart-color-3: #0ef387;
  --chart-color-4: #61f7b1;
  --chart-color-5: #fafafa;
  --chart-color-6: rgba(250, 250, 250, 0.2);
  --chart-color-7: rgba(17, 16, 28, 0.502);
  --chart-color-8: #11101c;

  --skeleton-bg: #171719;
  --skeleton-highlight: #222224;
}

/* LIGHT THEME */

[data-theme="light"] {
  --bg-page: #efefef;
  --bg-component: #ffffff;

  --color-titles: #0c0d0d;
  --color-paragraph: rgba(12, 13, 13, 0.6);
  --color-contrast: #0ebb69;

  --chart-color-1: #0a7a42;
  --chart-color-2: #0ebb69;
  --chart-color-3: #0ef387;
  --chart-color-4: #61f7b1;
  --chart-color-5: #0c0d0d;
  --chart-color-6: rgba(12, 13, 13, 0.15);

  --skeleton-bg: #e0e0e0;
  --skeleton-highlight: #ececec;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* letter-spacing: -0.02em; */
}

html {
  scroll-behavior: smooth;

  transition:
    background-color var(--transition),
    color var(--transition);
}

body {
  background-color: var(--bg-page);
  color: var(--color-titles);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity var(--transition);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  transition:
    transform var(--transition),
    background-color var(--transition),
    box-shadow var(--transition);
}

input,
select,
textarea {
  font-family: inherit;
  outline: none;
  background: none;
  border: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-page);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-paragraph);
}

/* общий контейнер */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}
