.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 100px;
  }
}

.wrapper {
  max-width: 575px;
}

.title {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 10px;
}

.main-title {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 14px;

  @media only screen and (min-width: 768px) {
    font-size: 56px;
    margin-bottom: 20px;
  }
}

.main-title-accent {
  font-family: var(--font-inter), sans-serif;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0ef387;
}

.description {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 30px;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
.container > :last-child {
  margin-top: auto;
}
