.panelWrapper {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  width: 100%;
  min-width: 100%;
  white-space: nowrap;
  background-color: var(--bg-page);
  color: var(--color-titles);
  border: 1px solid var(--color-paragraph);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 16px 0;
  z-index: 100;
  overflow: hidden;
}

.panelList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.panelBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 8px;
  /* color: rgba(250, 250, 250, 0.5); */
  color: var(--color-paragraph);
  font-size: 14px;
  transition: color 0.3s;
  gap: 12px;
  padding: 7px 16px 8px;
  border-radius: 8px;
  transition: all var(--transition);

  &:hover {
    color: var(--color-titles);
    background: var(--bg-component);
  }

  &:hover .iconUser {
    color: var(--color-contrast) !important;
    transform: scale(1.1);
  }
}

.iconUser {
  flex-shrink: 0;
  fill: none;
  color: var(--color-paragraph);
  transition:
    color var(--transition),
    transform var(--transition);
}

.themeWrapper {
  display: flex;
  align-items: center;
}

.themeLabel {
  color: var(--color-paragraph);
  font-size: 14px;
  font-weight: 400;
}

.themeWrapperLeft {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  border-bottom: 1px solid var(--color-paragraph);
  margin-bottom: 4px;
}
