.searchInput::placeholder,
.dateInput::placeholder {
  color: var(--color-paragraph);
}

.datePickerWrapper {
  position: relative;
}

.dateInput {
  border: 1px solid var(--color-paragraph);
  border-radius: 30px;
  padding: 15px 65px 15px 30px;
  width: 187px;
  outline: none;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--color-titles) !important;
  background-color: transparent;
  caret-color: var(--color-titles) !important;

  transition:
    outline-color 250ms linear,
    border-color 250ms linear;

  &:hover,
  &:focus {
    border-color: var(--color-contrast);
  }
}

.dateClearBtn {
  display: none;
}

/* date picker */

.arrowRight {
  opacity: 0.5;
  right: -6px;
  position: absolute;
  top: 1px;
  transform: translateY(-50%);
  border: none;

  transition: all 250ms linear;

  &:hover {
    opacity: 1;
  }
}

.arrowLeft {
  opacity: 0.5;
  left: -6px;
  top: 1px;
  transform: translateY(-50%);
  position: absolute;
  border: none;

  transition: all 250ms linear;

  &:hover {
    opacity: 1;
  }
}

.datePickerWrapper :global(.react-datepicker) {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #0c0d0d;
  border-radius: 12px;
  border: none;
  background-color: var(--color-contrast);
  /* padding: 14px; */
  /* width: 222px;
  height: 236px; */
}

.datePickerWrapper :global(.react-datepicker__day--outside-month) {
  color: rgba(12, 13, 13, 0.2) !important;
  pointer-events: none;
}

.datePickerWrapper :global(.react-datepicker__navigation-icon--next:before) {
  display: none;
}

.datePickerWrapper
  :global(.react-datepicker__navigation-icon--previous:before) {
  display: none;
}

.datePickerWrapper :global(.react-datepicker__navigation--next) {
  right: 5px;
  top: 8px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.datePickerWrapper :global(.react-datepicker__close-icon::after) {
  background-color: transparent;
  width: 36px;
  height: 36px;
  font-size: 16px;
  padding: 0px;
}

.datePickerWrapper :global(.react-datepicker__navigation--next:focus-visible) {
  outline: 1px solid var(--color-titles) !important;
}

.datePickerWrapper
  :global(.react-datepicker__navigation--previous:focus-visible) {
  outline: 1px solid var(--color-titles) !important;
}

.datePickerWrapper :global(.react-datepicker__day:focus-visible) {
  outline: 1px solid var(--color-titles) !important;
}

.datePickerWrapper :global(.react-datepicker__navigation--previous) {
  left: 5px;
  top: 8px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.datePickerWrapper :global(.react-datepicker__header) {
  padding: 14px 0 16px 0;
  border: none;
  background: none;
  position: relative;
}

.datePickerWrapper :global(.react-datepicker__header::after) {
  position: absolute;
  content: "";
  width: 230px;
  height: 0;
  bottom: 2px;
  transform: translateX(-50%);
  border: 0.5px solid rgba(12, 13, 13, 0.5);
}

.datePickerWrapper :global(.react-datepicker__current-month) {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #0c0d0d;
}

.datePickerWrapper :global(.react-datepicker__day) {
  color: #0c0d0d !important;
  border-radius: 100%;
}

.datePickerWrapper :global(.react-datepicker__day--keyboard-selected) {
  background-color: transparent;
}

.datePickerWrapper :global(.react-datepicker__day--selected) {
  color: #fafafa !important;
  background-color: #0c0d0d !important;
  border-radius: 50% !important;
}

.datePickerWrapper
  :global(
    .react-datepicker__day--today:not(.react-datepicker__day--outside-month)
  ) {
  border: 1px solid var(--color-contrast) !important;
  border-radius: 50% !important;
  background-color: transparent !important;
  color: #0c0d0d !important;
}

.datePickerWrapper
  :global(.react-datepicker__day--today.react-datepicker__day--selected) {
  background-color: #0c0d0d !important;
  color: #fafafa !important;
}

.datePickerWrapper
  :global(.react-datepicker__day:not([aria-disabled="true"]):hover) {
  background-color: var(--color-contrast);
  color: var(--bg-page);
  border-radius: 100%;
}

.datePickerWrapper :global(.react-datepicker__day-name) {
  color: rgba(12, 13, 13, 0.5);
  text-transform: capitalize;
}

/* svg */
.calendarSvgContainer {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-contrast) !important;
}
