/* !might not be right */
.container {
  padding: 40px 20px;
  max-width: 100%;

  @media only screen and (min-width: 768px) {
    padding: 32px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 60px 100px;
  }
}

/* .title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 12px;
}

.description {
  color: var(--grey-text);
  font-size: 14px;
  margin-bottom: 40px;
} */

.historyContent {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  width: 100%;
  height: 526px;
  background: #171719;

  @media only screen and (min-width: 768px) {
    height: 554px;
  }

  @media only screen and (min-width: 1440px) {
    height: 460px;
  }
}
