.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 66px 20px 80px 20px;
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 60px 32px 80px 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 60px 100px 50px 100px;

    grid-template-columns: 1fr 566px;
    column-gap: 44px;
    align-items: start;
  }
}

.title {
  line-height: 1.25;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: var(--color-titles);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 38px;
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1440px) {
    grid-column: 1 / 2;
  }
}

.description {
  line-height: 1.2;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-paragraph);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    max-width: 499px;
    margin-bottom: 40px;
    font-size: 16px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 630px;
    grid-column: 1 / 2;
  }
}

.totalWrapper {
  margin-bottom: 40px;

  @media screen and (min-width: 1440px) {
    grid-column: 1 / 2;
  }
}

.formWrapper {
  margin-bottom: 40px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }
}

:global(.TransactionsChart) {
  @media screen and (min-width: 1440px) {
    grid-column: 1 / 2;
  }
}
