.gridContainer :global(.ag-header-cell-text) {
  background: linear-gradient(
    90deg,
    var(--color-contrast),
    var(--chart-color-2),
    var(--color-paragraph),
    var(--color-paragraph),
    var(--color-paragraph),
    var(--chart-color-2)
  );
  animation: animatedTextGradient 2.5s linear infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
}

@keyframes animatedTextGradient {
  to {
    background-position: -200% center;
  }
}

.gridContainer :global(.ag-header) {
  background: rgba(0, 0, 0, 0.2) !important;
}

:global([data-theme="light"]) .gridContainer :global(.ag-header) {
  background: rgba(0, 0, 0, 0.05) !important;
}

.ag-theme-quartz {
  --ag-cell-data-changed-color: var(--color-contrast);
}

.ag-cell-data-changed {
  background-color: var(--ag-cell-data-changed-color) !important;
  transition: background-color 1s ease-in-out;
}

.gridWrapper {
  width: 100%;
  height: 390px;
  padding: 0 0 30px 0;
  border-radius: 0;
  z-index: 9;
  position: relative;
}

.gridContainer :global(.ag-header-cell) {
  padding: 0 0 0 8px;
}

.gridContainer {
  width: 100%;
  min-height: 360px;
}

.gridContainer :global(.ag-center-cols-viewport),
.gridContainer :global(.ag-center-cols-container),
.gridContainer :global(.ag-row) {
  width: 100% !important;
  min-width: 100% !important;
}

.actionsColumn {
  min-width: 75px;

  @media only screen and (min-width: 1440px) {
    min-width: 327px;
  }
}

.gridContainer :global(:where(.ag-ltr) .ag-header-cell-resize) {
  &:after {
    background-color: var(--color-paragraph);
  }
}

.gridContainer :global(:where(.ag-ltr) .ag-header-cell-resize) {
  right: 4px;
}

.gridContainer :global(.ag-cell) {
  font-weight: 300;
  padding-left: 8px;
  padding-right: 0;
}

.gridContainer :global(.ag-header-cell-label) {
  padding: 0;
}

.gridContainer :global(.ag-column-first) {
  padding-left: 20px;

  @media only screen and (min-width: 768px) {
    padding-left: 32px;
  }

  @media only screen and (min-width: 1440px) {
    padding-left: 40px;
  }
}

.gridContainer {
  scrollbar-width: 8px;
  scrollbar-color: var(--color-paragraph) var(--chart-color-6);
}

.gridContainer::-webkit-scrollbar {
  width: 8px;
}
.gridContainer::-webkit-scrollbar-track {
  background: var(--chart-color-6);
}
.gridContainer::-webkit-scrollbar-thumb {
  background: var(--color-paragraph);
}

.actionsCell {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  margin-left: 1px;
}

.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  height: 32px;
  width: 32px;
  background: var(--color-contrast);
  border: none;
  outline: none;
  cursor: pointer;
  transition:
    background var(--transition),
    opacity var(--transition);

  &:hover,
  &:focus {
    background: var(--chart-color-2);
  }

  @media only screen and (min-width: 768px) {
    height: 44px;
    width: 44px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 14px 32px;
    width: 119px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--bg-page);
  }
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  width: 32px;
  height: 32px;
  background: var(--bg-page);
  border: 1px solid var(--color-paragraph);
  outline: none;
  cursor: pointer;
  transition:
    border var(--transition),
    opacity var(--transition);

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  @media only screen and (min-width: 768px) {
    height: 44px;
    width: 44px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 14px 30px;
    width: 134px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--color-titles);
  }
}

@media (max-width: 1439px) {
  .btnText {
    display: none;
  }
}
