.gridContainer :global(.ag-header-cell-text) {
  background: linear-gradient(
    90deg,
    #0ef387,
    #43f1a0,
    #6f6f70,
    #6f6f70,
    #6f6f70,
    #43f1a0
  );
  animation: animatedTextGradient 2.5s linear infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
}

@keyframes animatedTextGradient {
  to {
    background-position: -200% center;
  }
}

/* .gridContainer.isLoading :global(.ag-header-cell-text) {
  animation: none;
  -webkit-text-fill-color: #6f6f70;
} */

.gridWrapper {
  width: 100%;
  height: 100%;
  padding: 0 0 30px 0;
  border-radius: 0;
  z-index: 9;
}

.gridContainer :global(.ag-header-cell) {
  padding: 0 0 0 8px;
}

.actionsColumn {
  min-width: 75px;

  @media only screen and (min-width: 1440px) {
    min-width: 327px;
  }
}

.gridContainer :global(:where(.ag-ltr) .ag-header-cell-resize) {
  &:after {
    background-color: #6f6f70;
  }
}

.gridContainer :global(:where(.ag-ltr) .ag-header-cell-resize) {
  right: 4px;
}

.gridContainer :global(.ag-cell) {
  font-weight: 300;
  padding-left: 8px;
  padding-right: 0;
}

.gridContainer :global(.ag-header-cell-label) {
  padding: 0;
}

.gridContainer :global(.ag-column-first) {
  padding-left: 20px;

  @media only screen and (min-width: 768px) {
    padding-left: 32px;
  }

  @media only screen and (min-width: 1440px) {
    padding-left: 40px;
  }
}

/* Modern Browsers */
.gridContainer {
  scrollbar-width: 8px;
  scrollbar-color: #69696b #434345;
}

/* Older Browsers */
.gridContainer::-webkit-scrollbar {
  width: 8px;
}
.gridContainer::-webkit-scrollbar-track {
  background: #434345;
}
.gridContainer::-webkit-scrollbar-thumb {
  background: #69696b;
}

/* buttons */

.actionsCell {
  display: flex;
  gap: 8px;
  height: 100%;
  margin-left: 1px;
}

.editBtn {
  border-radius: 40px;
  height: 32px;
  width: 32px;

  background: #0ef387;

  border: none;
  outline: none;
  cursor: pointer;

  /* transition:
    outline 250ms linear,
    opacity 250ms linear; */

  &:hover {
    background: #0ebb69;
  }

  &:focus {
    outline: 1px solid #fafafa;
  }

  &:active {
    outline: 1px solid #fafafa;
  }

  @media only screen and (min-width: 768px) {
    height: 44px;
    width: 44px;
  }

  @media only screen and (min-width: 1440px) {
    border-radius: 40px;
    padding: 14px 32px 14px 58px;
    width: 119px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0d0d;
  }
}

.deleteBtn {
  border-radius: 40px;
  width: 32px;
  height: 32px;

  background: #0c0d0d;

  border: none;
  outline: none;
  cursor: pointer;

  /* transition:
    outline 250ms linear,
    opacity 250ms linear; */

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 1px solid #fafafa;
  }

  &:active {
    outline: 1px solid #fafafa;
  }

  @media only screen and (min-width: 768px) {
    height: 44px;
    width: 44px;
  }

  @media only screen and (min-width: 1440px) {
    border-radius: 40px;
    padding: 14px 30px 14px 56px;
    width: 134px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
  }
}

@media (max-width: 1439px) {
  .btnText {
    display: none;
  }
}

.editButtonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editSvgContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 1440px) {
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.deleteButtonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteSvgContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 1440px) {
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.deleteButtonContainer:hover .deleteSvg {
  opacity: 0.7;
}
