.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column-reverse;
  gap: 29px;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 63px 32px 32px 32px;
    gap: 10px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 41px 100px 100px 100px;
    flex-direction: row;
    gap: 54px;
    align-items: stretch;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.container > div:last-child > :last-child {
  margin-top: auto;
}

.text-wrapper {
  max-width: 575px;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-paragraph);
  margin-bottom: 10px;
}

.main-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: var(--color-titles);
  margin-bottom: 14px;

  @media only screen and (min-width: 768px) {
    font-size: 56px;
    margin-bottom: 20px;
  }
}

.main-title-accent {
  font-family: var(--font-inter), sans-serif;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  background: linear-gradient(
    90deg,
    #0ef387,
    rgba(250, 250, 250, 0.4),
    rgba(250, 250, 250, 0.4),
    #0ef387,
    #0ef387
  );

  background-size: 200% auto;

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;

  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}

.description {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 30px;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20%;
}
