.transactionsNav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.transactionsLink {
  border-radius: 30px;
  padding: 12px 21px;
  border: 1px solid var(--color-paragraph);
  color: var(--color-titles);
  transition:
    border-color var(--transition),
    transform var(--transition);

  @media only screen and (min-width: 375px) {
    background-color: var(--bg-component);
    border: 1px solid var(--bg-component);

    &.active {
      background-color: var(--bg-page);
      border: 1px solid var(--bg-page);
    }
  }

  @media only screen and (min-width: 1440px) {
    color: var(--color-titles);
    border: 1px solid var(--color-titles);

    &.active {
      background-color: transparent;
      border: 1px solid var(--color-titles);
      color: var(--color-titles);
    }
  }

  &:hover {
    border-color: var(--color-contrast);
  }
}
