.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}

.modal {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-contrast);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
        width: 385px;
    }
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    align-self: flex-end;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--bg-page);
}

.navWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}