.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 19px;
  background-color: initial;
}

/* Адаптивність як у реєстрації */
/* @media only screen and (min-width: 768px) {
  .form {
    max-width: 640px;
    padding: 64px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .form {
    max-width: 736px;
    padding: 64px;
  }
} */

.logicalWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logicalWrapper button {
  margin-top: 112px;
}

.formTitle {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.formWelcomeText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.inputFieldWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.passwordInputContainer {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 14px;
  font-size: 14px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  border-radius: 12px;
  outline: none;
  color: #fafafa;
  transition: border-color 0.3s ease;
}

.input::placeholder {
  color: rgba(250, 250, 250, 0.4);
}

.input:hover,
.input:focus {
  border-color: #0ef387;
}

.errorInput {
  border-color: #eb4444 !important;
}

.passwordToggle {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgba(250, 250, 250, 0.4);
  display: flex;
  align-items: center;
  padding: 0;
}

.passwordToggle:hover {
  color: #0ef387;
}

.submitButton {
  border-radius: 40px;
  padding: 14px 44px;
  width: 139px;
  height: 45px;
  border: 1px solid transparent;
  background: #0ef387;
  letter-spacing: -0.02em;
  color: #0c0d0d;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

.submitButton:hover:not(:disabled),
.submitButton:focus {
  background-color: transparent;
  border: 1px solid #0ef387;
  color: #fafafa;
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.actionText {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.6);
}

.actionTextLink {
  text-decoration: underline;
  color: #fafafa;
  transition: color 0.3s ease;
}

.actionTextLink:hover {
  color: #0ef387;
}

.error {
  color: #eb4444;
  font-size: 12px;
  margin-top: 4px;
}
