.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.mainContent {
  display: flex;
  justify-content: center;
  padding: 106px 20px 169px 20px;

  @media only screen and (min-width: 768px) {
    padding: 171px 0 262px 0;
  }

  @media only screen and (min-width: 1440px) {
    gap: 54px;
    padding: 41px 100px 100px 100px;
  }
}

.mainContent > :first-child {
  display: none;

  @media only screen and (min-width: 1440px) {
    display: block;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: initial;

  @media only screen and (min-width: 768px) {
    max-width: 400px;
  }
}

.logicalWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logicalWrapper button {
  margin-top: 112px;
}
.formTitle {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.formWelcomeText {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.input {
  font-family: var(--font-inter), sans-serif;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: rgba(250, 250, 250, 0);
  border-radius: 4px;
  outline: none;
  color: rgba(250, 250, 250, 0.4);

  transition:
    border-color 0.3s ease,
    color 0.3s ease;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #0c0d0d inset !important;
    -webkit-text-fill-color: rgba(250, 250, 250, 0.4) !important;
    -webkit-text-fill-font: var(--font-inter), sans-serif !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  &:hover,
  &:focus {
    border-color: #0ef387;
    color: #fafafa;
  }
}

.submitButton {
  border-radius: 40px;
  padding-block: 14px;
  padding-inline: 44px;
  width: 139px;
  height: 45px;
  border: initial;
  background: #0ef387;
  letter-spacing: -0.02em;
  color: #0c0d0d;
  outline: none;
  &:hover,
  &:focus {
    background-color: inherit;
    border: 1px solid #0ef387;
    color: #fafafa;
  }
}

.actionText {
  /* font-weight: 400; */
  font-size: 12px;

  line-height: 150%;
  color: rgba(250, 250, 250, 0.6);
}

.actionTextLink {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  &:hover,
  &focus {
    color: #0ebb69;
  }
}
.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
  text-align: center;
}

.correct {
  border: 1px solid #097b45;
}
