.form {
  display: flex;
  gap: 13px;
  padding: 20px 40px;
  z-index: 999;
}

.searchInputWrapper {
  position: relative;
}

.searchInput {
  width: 261px;
  border: 1px solid var(--color-paragraph);
  border-radius: 30px;
  padding: 15px 80px 15px 30px;
  outline: none;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--color-titles);
  background-color: var(--bg-page);

  transition:
    outline-color 250ms linear,
    border-color 250ms linear;

  &:hover,
  &:focus {
    outline-color: var(--color-contrast);
    border-color: var(--color-contrast);
  }
}

.searchInput::placeholder {
  color: var(--color-paragraph);
}

/* svg */
.searchSvgContainer {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-contrast) !important;
}
