.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  z-index: 999;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    padding: 32px 32px 16px;
    gap: 13px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 20px 40px;
  }
}

.searchInputWrapper {
  position: relative;
}

.searchInput {
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 30px;
  padding: 15.5px 105px 15.5px 30px;
  outline: none;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: #0c0d0d;

  transition:
    outline-color 250ms linear,
    border-color 250ms linear;

  &:hover {
    outline-color: #0ef387;
    border-color: #0ef387;
  }

  &:focus {
    outline-color: #0ef387;
    border-color: #0ef387;
  }

  @media only screen and (min-width: 768px) {
    width: 261px;
    padding: 15px 70px 15px 30px;
  }
}

.searchInput::placeholder {
  color: rgba(250, 250, 250, 0.4);
}

/* svg */
.searchSvgContainer {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
