.container {
  width: 299px;
  @media screen and (min-width: 768px) {
    width: 490px;
  }
}

.container-with-close {
  @media screen and (min-width: 768px) {
    width: 423px;
  }
}

.error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  margin-left: 15px;
  color: #e74a3b;
  margin-top: 4px;
}

.errorInput {
  border-color: #e74a3b !important;
}

.transaction-form-wrapper {
  padding-top: 28px;
  padding-bottom: 27px;
  border-radius: 30px;
  width: 335px;
  min-height: 533px;
  background: #171719;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  position: relative;
  @media screen and (min-width: 768px) {
    width: 704px;
    min-height: 600px;
    padding-left: 40px;
    padding-right: 37px;
  }
  @media screen and (min-width: 1440px) {
    width: 566px;
    min-height: 600px;
  }
}

.transaction-form-wrapper-with-close {
  padding-top: 40px;
  padding-bottom: 39px;
  @media screen and (min-width: 768px) {
    width: 500px;
    min-height: 599px;
    padding: 40px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  user-select: none;
  @media screen and (min-width: 768px) {
    row-gap: 20px;
  }
}

.form-with-close {
  @media screen and (min-width: 768px) {
    row-gap: 24px;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fafafa;
  font-family: var(--font-family);
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.input {
  width: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 12px;
  padding: 12px 14px;
  background-color: transparent;
  outline: none;
  color: #fafafa;
  appearance: textfield;
  -moz-appearance: textfield;

  @media screen and (min-width: 768px) {
    padding: 12px 18px;
  }
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:hover,
.input:focus {
  border-color: #0ef387;
}

.input::placeholder {
  color: rgba(250, 250, 250, 0.4);
}

.input:focus::placeholder,
.input:hover::placeholder {
  color: #fafafa;
}

/* ! RADIO */

.radio-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-bottom: 1px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.radio-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.radio {
  display: none;
}

.circle-around {
  border: 2px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio:checked + .circle-around .circle {
  background: #4dc274;
}

.radio:checked + .circle-around {
  border-color: #4dc274;
}

/* ! RADIO END */

/* ! DATE AND TIME */

.dateTimeGroup {
  display: flex;
  flex-direction: row;
  gap: 14px;
  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.input-date-time {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 12px;
  max-width: 140px;
  padding: 12px 14px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  transition: border-color 0.2s;
  @media screen and (min-width: 768px) {
    padding: 12px 18px;
  }
}

.input-date-tablet {
  @media screen and (min-width: 768px) {
    max-width: 100%;
    min-width: 247px;
  }
}

.input-time-tablet {
  @media screen and (min-width: 768px) {
    min-width: 221px;
    max-width: 100%;
  }
}

.input-date-tablet-with-close {
  @media screen and (min-width: 768px) {
    max-width: 100%;
    min-width: 201px;
  }
}

.input-date-time:hover,
.input-date-time:focus-within {
  border-color: #0ef387;
}

.labelDate {
  margin-bottom: 6px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}

.input {
  width: 100%;
  height: 100%;
}

.input-date,
.input-time {
  background-color: transparent;
  outline: none;
  border: none;
  width: 80%;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #fafafa;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 150%;
  }
}

.input-date-time:hover .input-date,
.input-date-time:hover .input-time,
.input-date-time:focus-within .input-date,
.input-date-time:focus-within .input-time {
  color: #fafafa;
}

.modal-icon-wrapper-date {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 16px;
  height: 16px;
  @media screen and (min-width: 768px) {
    right: 23px;
    width: 20px;
    height: 20px;
  }
}

.modal-icon-date {
  width: 100%;
  height: 100%;
}

/* ! DATE AND TIME END */

/* ! CATEGORY */

.labelCategory {
  margin-bottom: 6px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}

/* ! CATEGORY END */

/* ! SUM */

.labelSum {
  margin-bottom: 8px;
}

.sumWrapper {
  position: relative;
  display: inline-block;
}

.sumWrapper .currency {
  display: flex;
  align-items: center;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(250, 250, 250, 0.4);
  line-height: 129%;
  @media screen and (min-width: 768px) {
    line-height: 150%;
  }
}

.sumWrapper:hover .currency,
.sumWrapper input:focus + .currency {
  color: #fafafa;
}

.sumWrapper input:focus + .currency,
.sumWrapper .currency.filled {
  color: #fafafa;
}

/* ! SUM END */

/* ! COMMENT */

.labelComment {
  margin-bottom: 8px;
}

.textarea {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 12px;
  padding: 12px 14px;
  width: 100%;
  height: 91px;
  background-color: transparent;
  resize: none;
  outline: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #fafafa;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 150%;
    padding: 12px 18px;
  }
}

.textarea:hover,
.textarea:focus {
  border-color: #0ef387;
}

.textarea::placeholder {
  color: rgba(250, 250, 250, 0.4);
}

.textarea:focus::placeholder,
.textarea:hover::placeholder {
  color: #fafafa;
}

/* ! COMMENT END */

/* ! SUBMIT / EDIT BUTTON */
.submitEditButton {
  border-radius: 40px;
  padding: 14px 44px;
  background: #0ef387;
  border: none;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #0c0d0d;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.submitEditButton:hover,
.submitEditButton:focus {
  background: #0ebb69;
}
/* ! SUBMIT / EDIT BUTTON END */

/* ! CLOSE BUTTON */
.closeButton {
  background-color: black;
  color: black;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.closeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  transition: color 250ms ease;
}

.closeButton:hover,
.closeButton:focus {
  color: rgba(250, 250, 250, 0.5);
}

.icon-close {
  width: 100%;
  height: 100%;
}

/* ! CLOSE BUTTON END*/
