TransactionForm .container {
  @media screen and (max-width: 374px) {
    max-width: 299px;
    margin-right: 10px;
    margin-left: 10px;
  }
  @media screen and (min-width: 375px) {
    width: 299px;
  }
  @media screen and (min-width: 768px) {
    width: 490px;
  }
}

.container-with-close {
  @media screen and (min-width: 768px) {
    width: 423px;
  }
}

.error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: #e74a3b;
}

.errorInput {
  border-color: #e74a3b !important;
}

.transaction-form-wrapper {
  padding-top: 28px;
  padding-bottom: 27px;
  border-radius: 30px;
  background: var(--bg-component);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 37px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1440px) {
    width: 566px;
  }
}

.transaction-form-wrapper-with-close {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 39px;
  @media screen and (min-width: 768px) {
    width: 500px;
    min-height: 599px;
    padding: 40px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  user-select: none;
  @media screen and (min-width: 768px) {
    row-gap: 4px;
  }
}

.form-with-close {
  @media screen and (min-width: 768px) {
    row-gap: 8px;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--color-titles);
  font-family: var(--font-family);
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

/* ! INPUTS */
.input {
  width: 100%;
  border: 1px solid var(--chart-color-6);
  border-radius: 12px;
  padding: 12px 14px;
  background-color: transparent;
  outline: none;
  color: var(--color-titles);
  appearance: textfield;
  -moz-appearance: textfield;
  transition: border-color var(--transition);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;

  @media screen and (min-width: 768px) {
    padding: 12px 18px;
    font-size: 16px;
    line-height: 150%;
  }
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:hover,
.input:focus {
  border-color: var(--color-contrast);
}

.input::placeholder {
  color: var(--color-paragraph);
  transition: color 250ms var(--transition);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  @media screen and (min-width: 768px) {
    font-family: var(--font-family);

    font-size: 16px;
    line-height: 150%;
  }
}

/* .input:focus::placeholder,
.input:hover::placeholder {
  color: var(--color-titles);
} */

.activeInput {
  border-color: var(--color-contrast);
}
/* ! INPUTS END */

/* ! RADIO */
.radio-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-bottom: 1px;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.radio-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.radio {
  /* display: none; */
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: -999;
}

.radio:focus + .circle-around::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 35%;
  pointer-events: none;
}

.circle-around {
  border: 2px solid var(--chart-color-6);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  /* transition: border-color 250ms linear; */
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transition: background-color 250ms linear; */
}

.radio:checked + .circle-around .circle {
  background-color: var(--color-contrast);
}

.radio:checked + .circle-around {
  border-color: var(--color-contrast);
}

/* ! RADIO END */

/* ! DATE AND TIME */
.dateTimeGroup {
  display: flex;
  flex-direction: row;
  gap: 14px;
  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.input-date-time {
  border: 1px solid var(--chart-color-6);
  border-radius: 12px;
  max-width: 140px;
  padding: 12px 14px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  transition: border-color var(--transition);
  @media screen and (min-width: 768px) {
    padding: 12px 18px;
  }
}

.input-date-time:hover,
.input-date-time:focus-within {
  border-color: var(--color-contrast);
}

.input-date-tablet {
  @media screen and (min-width: 768px) {
    max-width: 100%;
    min-width: 247px;
  }
}

.input-time-tablet {
  @media screen and (min-width: 768px) {
    min-width: 221px;
    max-width: 100%;
  }
}

.input-date-tablet-with-close {
  @media screen and (min-width: 768px) {
    max-width: 100%;
    min-width: 201px;
  }
}

.labelDate {
  margin-bottom: 6px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}

.input {
  width: 100%;
  height: 100%;
}

.input-date,
.input-time {
  background-color: transparent;
  outline: none;
  border: none;
  width: 80%;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--transition);
  /* transition: color 250ms linear; */

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 150%;
  }
}

/* .input-date-time:hover .input-date,
.input-date-time:hover .input-time,
.input-date-time:focus-within .input-date,
.input-date-time:focus-within .input-time {
  color: #fafafa;
} */

.modal-icon-wrapper-date {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 16px;
  height: 16px;
  @media screen and (min-width: 768px) {
    right: 23px;
    width: 20px;
    height: 20px;
  }
}

.modal-icon-date {
  width: 100%;
  height: 100%;
}
/* ! DATE AND TIME END */

/* ! CATEGORY */
.labelCategory {
  margin-bottom: 6px;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}
/* ! CATEGORY END */

/* ! SUM */
.labelSum {
  margin-bottom: 8px;
}

.sumWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.sumWrapper .currency {
  display: flex;
  align-items: center;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--color-paragraph);
  transition: color var(--transition);
  @media screen and (min-width: 768px) {
    line-height: 150%;
    font-size: 16px;
    line-height: 150%;
  }
}

.sumWrapper .currency.filled {
  color: var(--color-titles);
}

.input:focus + .currency,
.input:hover + .currency {
  color: var(--color-titles);
}

.labelSum:hover + input + .currency {
  color: var(--color-titles);
}

/* ! SUM END */

/* ! COMMENT */
.labelComment {
  margin-bottom: 8px;
}

.textarea {
  border: 1px solid var(--chart-color-6);
  border-radius: 12px;
  padding: 12px 14px;
  width: 100%;
  height: 91px;
  background-color: transparent;
  resize: none;
  outline: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--color-titles);
  transition: border-color var(--transition);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 150%;
    padding: 12px 18px;
  }
}

.textarea:hover,
.textarea:focus {
  border-color: var(--color-contrast);
}

.textarea::placeholder {
  color: var(--color-paragraph);
  transition: color var(--transition);
}

/* .textarea:focus::placeholder,
.textarea:hover::placeholder {
  color: var(--color-titles);
} */
/* ! COMMENT END */

/* ! SUBMIT / EDIT BUTTON */
.submitEditButton {
  border-radius: 40px;
  padding: 14px 44px;
  background: var(--color-contrast);
  border: none;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--bg-page);
  transition: background-color var(--transition);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.submitEditButton:hover,
.submitEditButton:focus {
  background-color: var(--chart-color-2);
}
/* ! SUBMIT / EDIT BUTTON END */

/* ! CLOSE BUTTON */
.closeButton {
  background-color: black;
  color: black;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.closeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-titles);
  transition: color var(--transition);
}

.closeButton:hover,
.closeButton:focus {
  color: rgba(250, 250, 250, 0.5);
}

.icon-close {
  width: 100%;
  height: 100%;
}

/* ! CLOSE BUTTON END*/

.errorPlaceholder {
  height: 12px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 15px;
  margin-top: 4px;
}

/* ! CALENDAR DATE */
:global(.transaction-calendar-for-transaction-form) {
  background-color: var(--color-contrast) !important;
  border: none !important;
}

:global(.transaction-time-for-transaction-form) {
  border: none !important;
}

:global(.transaction-calendar-for-transaction-form .react-datepicker__day) {
  color: #0c0d0d !important;
}

:global(
  .transaction-calendar-for-transaction-form .react-datepicker__day:hover
) {
  border-radius: 50% !important;
  background-color: #0ebb69 !important;
  color: #fafafa;
}

:global(
  .transaction-calendar-for-transaction-form .react-datepicker__header--custom
) {
  border-bottom: none !important;
  background-color: transparent !important;
}

:global(
  .transaction-calendar-for-transaction-form
    .react-datepicker__day--outside-month
) {
  color: rgba(12, 13, 13, 0.2) !important;
}

:global(
  .transaction-calendar-for-transaction-form
    .react-datepicker__day--keyboard-selected
) {
  background-color: transparent !important;
}

:global(
  .transaction-calendar-for-transaction-form .react-datepicker__day--selected
) {
  color: #0c0d0d !important;
  background-color: transparent !important;
  outline: 1px solid #040404 !important;
  border-radius: 50% !important;
}

:global(
  .transaction-calendar-for-transaction-form
    .react-datepicker__day--selected:hover
) {
  color: #0c0d0d !important;
  border-radius: 50% !important;
}

:global(
  .transaction-calendar-for-transaction-form .react-datepicker__day--today
) {
  color: #fafafa !important;
  border-radius: 50% !important;
  background-color: black !important;
}

:global(
  .transaction-calendar-for-transaction-form .react-datepicker__day--today:hover
) {
  color: #fafafa !important;
  border-radius: 50% !important;
  background-color: #040404 !important;
}

:global(
  .transaction-calendar-for-transaction-form .react-datepicker__day-name
) {
  color: rgba(12, 13, 13, 0.5) !important;
  font-family: var(--font-family);
  font-weight: 400;
}

.transaction-calendar-for-form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 14px 9px;
  background-color: var(--color-contrast);
  width: 100%;
}

.calendar-title {
  flex-grow: 1;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--bg-page);
}

.calendar-title::after {
  content: "";
  width: 215px;
  background-color: rgba(12, 13, 13, 0.5);
  height: 1px;
  position: absolute;
  top: 40px;
  left: 13px;
}

.button-calendar {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6px;
  height: 10px;
  cursor: pointer;
  color: var(--bg-page);
}

.button-calendar:hover {
  color: #0c0d0d66;
}

.icon-arrow {
  width: 100%;
  height: 100%;
}
/* ! CALENDAR DATE END */

/* ! CALENDAR TIME  */
:global(.transaction-calendar-time-for-transaction-form) {
  background-color: var(--color-contrast) !important;
}

:global(.react-datepicker__time-container .react-datepicker__header) {
  background-color: var(--color-contrast) !important;
  border-bottom: none;
}

:global(.react-datepicker-time__header) {
  font-family: var(--font-family) !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  letter-spacing: -0.02em !important;
  color: var(--bg-page) !important;
}

:global(.react-datepicker-time__header::after) {
  content: "" !important;
  position: absolute !important;
  bottom: 2px !important;
  width: 75% !important;
  height: 1px !important;
  background-color: rgba(12, 13, 13, 0.4) !important;
  left: 50%;
  transform: translateX(-50%);
}

:global(.react-datepicker__time-list) {
  scrollbar-width: thin;
  scrollbar-color: #444446 transparent;
}

:global(.react-datepicker__time-list::-webkit-scrollbar) {
  width: 20px !important;
}

:global(.react-datepicker__time-list::-webkit-scrollbar-track) {
  background: transparent !important;
}

:global(.react-datepicker__time-list::-webkit-scrollbar-thumb) {
  background-color: #444446;
  border-radius: 3px;
}

:global(.react-datepicker__time-list) {
  max-height: 150px;
  overflow-y: auto;
  background-color: var(--color-contrast);
}

:global(.react-datepicker__time-list-item:hover) {
  background-color: var(--chart-color-2) !important;
}

:global(.react-datepicker__time-list-item--selected) {
  border: 1px solid #040404 !important;
  border-radius: 15px;
  font-family: var(--font-family) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 129% !important;
  letter-spacing: -0.02em !important;
  color: #0c0d0d !important;
}

/* ! CALENDAR TIME END */
