:global(p),
:global(h2),
:global(h3),
:global(h4) {
  margin: 0;
}

.container-item {
  width: 100%;
  padding: 0 16px 0 20px;
}

.form {
  display: flex;
  flex-direction: column;
  user-select: none;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fafafa;
  font-family: var(--font-family);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #171719;
  max-width: 335px;
  width: 100%;
  max-height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

/* ! CLOSE BUTTON */
.closeButton {
  background-color: black;
  color: black;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.closeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  transition: color 250ms ease;
}

.closeButton:hover {
  color: gray;
}

.icon-close {
  width: 100%;
  height: 100%;
}

/* ! CLOSE BUTTON END*/

/* ! PARAGRAPH */

.allCategory {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 9px;
}

/* ! PARAGRAPH END */

.categoryList {
  list-style: none;
  padding: 0;
  margin: 0 0 28px 0;
}

/* ! TITLE */

.formCategoryTitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #fafafa;
  opacity: 0.88;
  margin-bottom: 19px;
  padding: 0;
}

/* ! TITLE END */

/* ! LIST */

.categoryLabel input[type="radio"] {
  display: none;
}

.categoryLabel {
  cursor: pointer;
  border-radius: 4px;
  flex-grow: 1;
}

.categoryItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  cursor: pointer;
}

.categoryItem:hover,
.categoryItem:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.categoryLabel input[type="radio"]:checked + span {
  color: white;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 14px;
}

/* ! LIST END */

/* ! BUTTONS */
.buttonModal {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: transparent;
}

.categoryItem:hover .buttonModal {
  color: #0ef387;
}

.categoryItem:hover .buttonModal:hover,
.categoryItem:hover .buttonModal:focus {
  color: #0ebb69;
}

/* ! BUTTONS END */

/* ! NEW CATEGORY */

.newCategoryLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #0ef387;
  margin-bottom: 8px;
}
/* ! NEW CATEGORY END */

/* ! INPUT */

.input {
  width: 100%;
  padding: 12px 14px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #fafafa;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 12px;
}

.input::placeholder {
  color: rgba(250, 250, 250, 0.4);
}

.input:focus::placeholder,
.input:hover::placeholder {
  color: #fafafa;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:hover,
.input:focus {
  border-color: #0ef387;
}

.error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  margin-left: 15px;
  color: #e74a3b;
  margin-top: 4px;
}

.errorInput {
  border-color: #e74a3b !important;
}
/* ! INPUT END */

/* ! BUTTON ADD OR EDIT */

.inputButtonWrapper {
  position: relative;
}

.buttonAddEdit {
  border-radius: 12px;
  padding: 13px 44px;
  background: #0ef387;
  border: none;
  min-width: 115px;
  min-height: 43px;
  position: absolute;
  right: 3px;
  top: 1px;
  cursor: pointer;
}

.buttonAddEdit:hover,
.buttonAddEdit:focus {
  background: #0ebb69;
}
/* ! BUTTON ADD OR EDIT END */
